body {
  margin: 0;
  overflow: hidden;
  background: #ffffff;
  font-family: Courier, monospace;
  font-size: 14px;
  color:rgb(0, 0, 0); 
}

.wrapper {
  display: block;
  margin: 5em auto;
  border: 0px solid rgb(90, 83, 83);
  width: 700px;
  height: 350px;
  position: relative;
}
p{text-align:center;}
.label {
  height: 1em;
  padding: .3em;
  background: rgba(255, 255, 255, .8);
  position: absolute;
  display: none;
  color:rgb(0, 0, 0);
  
}